# created by virtualenv automatically
/bin/
/lib/
/exam-training/py-exam-training-master/.idea/
/mid_exam_training/py_mid_exam_training-master/.idea/
/lecture_1/py_lecture_1-master/.idea/
/lecture_2/py_lecture_2-master/.idea/
/lecture_2/py_lecture_3-master/.idea/
/lecture_2/py_lecture_6-master/dataset/
/lecture_2/py_lecture_8-master/.idea/
/lecture_2/py_lecture_9-master/.idea/
/lecture_2/py_lecture_10-master/.idea/
/lecture_2/py_lecture_10_1-master/.idea/
/lecture_2/py_lecture_11-master/.idea/
/lecture_2/py_lecture_12-master/.idea/
